Connect Python to MongoDB

In [11]:
from pymongo import MongoClient

client = MongoClient('mongodb+srv://naveed:mobilbalap@clusterbigdata.fxluo.mongodb.net/', ssl=True)
db = client['company_db']
collectionEmployees = db['employees']

print('Connected to MongoDB')

Connected to MongoDB

Basic CRUD Operation

In [21]:
employee_data = [
    {'name' : 'naveed','department' : 'Finance','age' : 20,'salary' : 9500},
    {'name' : 'bernard','department' : 'Resource','age' : 24,'salary' : 12000},
    {'name' : 'angelic','department' : 'Media','age' : 25,'salary' : 10500}
]
collectionEmployees.insert_many(employee_data)
print('Data inserted')

collectionEmployees.update_one({'name': 'naveed'}, {'$set': {'salary': 11000}})
print('data updated')

collectionEmployees.delete_one({'name' : 'bernard'})
print('data deleted')

Data inserted
data updated
data deleted

CRUD Pencarian Data

In [22]:
for employee in collectionEmployees.find():
    print(employee)

{'_id': ObjectId('675dcf95e5b3cde5e9559ea1'), 'name': 'naveed', 'department': 'Finance', 'age': 20, 'salary': 11000}
{'_id': ObjectId('675dcf95e5b3cde5e9559ea3'), 'name': 'angelic', 'department': 'Media', 'age': 22, 'salary': 10500}
{'_id': ObjectId('675dd0ace5b3cde5e9559eae'), 'name': 'naveed', 'department': 'Finance', 'age': 20, 'salary': 9500}
{'_id': ObjectId('675dd0ace5b3cde5e9559eb0'), 'name': 'angelic', 'department': 'Media', 'age': 25, 'salary': 10500}

More Complex Query Using AggregationKik untuk menerapkan

In [23]:
pipeline = [
    {'$group' : {'_id': '$department', 'average_salary' : {'$avg' : '$salary'}}}
]
for result in collectionEmployees.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 10250.0}
{'_id': 'Media', 'average_salary': 10500.0}

**Latihan Tambahan**

Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk)

In [15]:
collectionProducts = db['products']
products = [
    {'name': 'Sedan A', 'category': 'Car', 'price': 25000, 'stock': 5},
    {'name': 'SUV B', 'category': 'Car', 'price': 40000, 'stock': 8},
    {'name': 'Motor C', 'category': 'Motorcycle', 'price': 10000, 'stock': 20},
    {'name': 'Truck D', 'category': 'Truck', 'price': 60000, 'stock': 2},
    {'name': 'Van E', 'category': 'Car', 'price': 35000, 'stock': 3},
    {'name': 'Bike F', 'category': 'Motorcycle', 'price': 5000, 'stock': 15},
    {'name': 'SUV G', 'category': 'Car', 'price': 45000, 'stock': 6},
    {'name': 'Pickup H', 'category': 'Truck', 'price': 55000, 'stock': 4},
    {'name': 'Motor G', 'category': 'Motorcycle', 'price': 8000, 'stock': 18},
    {'name': 'SUV I', 'category': 'Car', 'price': 38000, 'stock': 7}
]

collectionProducts.insert_many(products)
print('Data berhasil diinput')

Data berhasil diinput

Lakukan query untuk menemukan produk dengan harga di atas rata-rata.

In [16]:
pipelineAvg = [
    {'$group': {'_id': None, 'avgPrice': {'$avg': '$price'}}}
]

avgPrice = list(collectionProducts.aggregate(pipelineAvg))[0]['avgPrice']
print("Rata-Rata Harga Kendaraan:", avgPrice)

pipelineAboveAvg = [
    {'$match': {'price': {'$gt': avgPrice}}}
]

for result in collectionProducts.aggregate(pipelineAboveAvg):
    print(result)

Rata-Rata Harga Kendaraan: 32100.0
{'_id': ObjectId('675dcf9ee5b3cde5e9559ea5'), 'name': 'SUV B', 'category': 'Car', 'price': 40000, 'stock': 8}
{'_id': ObjectId('675dcf9ee5b3cde5e9559ea7'), 'name': 'Truck D', 'category': 'Truck', 'price': 60000, 'stock': 2}
{'_id': ObjectId('675dcf9ee5b3cde5e9559ea8'), 'name': 'Van E', 'category': 'Car', 'price': 35000, 'stock': 3}
{'_id': ObjectId('675dcf9ee5b3cde5e9559eaa'), 'name': 'SUV G', 'category': 'Car', 'price': 45000, 'stock': 6}
{'_id': ObjectId('675dcf9ee5b3cde5e9559eab'), 'name': 'Pickup H', 'category': 'Truck', 'price': 55000, 'stock': 4}
{'_id': ObjectId('675dcf9ee5b3cde5e9559ead'), 'name': 'SUV I', 'category': 'Car', 'price': 38000, 'stock': 7}

Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [17]:
categoryCount = collectionProducts.aggregate([
    {'$group': {'_id': '$category', 'totalVehicle': {'$sum': 1}}},
    {'$sort': {'totalVehicle': -1}}
])

print('total kendaraan dalam setiap kategori: ')
for category in categoryCount:
    print(f'Kategori: {category['_id']}, Total kendaraan: {category['totalVehicle']}')

total kendaraan dalam setiap kategori:
Kategori: Car, Total kendaraan: 5
Kategori: Motorcycle, Total kendaraan: 3
Kategori: Truck, Total kendaraan: 2

**Tugas**

Find the 5 highest paid employees in each department, using the appropriate query or aggregation.

In [24]:
pipeline = [
    {'$sort': {'salary': -1}},
    {'$group': {'_id': '$department','topEmployees': {'$push': {'name': '$name','age': '$age','salary': '$salary'}}}},
    {'$project': {'_id': 1,'topEmployees': {'$filter': {'input': '$topEmployees','as': 'employee','cond': {'$gte': ['$$employee.salary', 5000]}}}}},
    {'$project': {'_id': 1,'topEmployees': {'$slice': ['$topEmployees', 5]}}}
]

for result in collectionEmployees.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'topEmployees': [{'name': 'naveed', 'age': 20, 'salary': 11000}, {'name': 'naveed', 'age': 20, 'salary': 9500}]}
{'_id': 'Media', 'topEmployees': [{'name': 'angelic', 'age': 22, 'salary': 10500}, {'name': 'angelic', 'age': 25, 'salary': 10500}]}

Remove employees under 25 years old from the database

In [25]:
for employee in collectionEmployees.find():
    if employee['age'] < 25:
        collectionEmployees.delete_one({'name': employee['name']})
        print(employee['name'], 'deleted')

naveed deleted
angelic deleted
naveed deleted

Calculate the total salary of employees in each department, as well as the average age of employees

In [26]:
pipeline = [
    {'$group': {'_id': '$department', 'totalSalary': {'$sum': '$salary'}, 'averageAge': {'$avg': 'age'}}}
]

result = collectionEmployees.aggregate(pipeline)

for result in result:
    print(f"Department: {result['_id']}")
    print(f"Total Gaji: {result['totalSalary']}")
    print(f"Rata-Rata umur: {result['averageAge']}\n")

Department: Media
Total Gaji: 10500
Rata-Rata umur: None